
body{
	background: bisque;
}

#msg {
	width: 330px;
	height: 500px;
	margin: 100px auto;
	border: 2px solid #ccc;
	text-align: center;
	background: #FCF2E3;
}

#password, #phone, #name {
	width: 180px;
	height: 20px;
	margin: 10px auto;
}
